body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: right;
  text-align: center;
}

article {
  background-color: white;
  text-align: center;
  clear: right;
  padding: 1em;
}

#circle-img {
  float: left;
}

.circle-img {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  transition: width 0.5s, height 0.5s;
}

.circle-img:hover{
  width: 60px;
  height: 60px;
  cursor: pointer;
}
